@media screen and (max-width: 1642px) {
  body #wrapper #header {
    padding: 72px 200px 0; }
  body #wrapper #content {
    height: 793px; }
    body #wrapper #content #content__container {
      padding: 100px 200px 0; }
      body #wrapper #content #content__container #content__page #page__picture {
        width: 29%; }
      body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--left {
        top: 30%; }
      body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--right {
        top: 30%; }
      body #wrapper #content #content__container #content__page #block .content__gallery {
        bottom: -78px;
        justify-content: center; }
        body #wrapper #content #content__container #content__page #block .content__gallery .gallery {
          border: 3px solid #E3E3E3; }
          body #wrapper #content #content__container #content__page #block .content__gallery .gallery p {
            color: #E3E3E3; }
  body #wrapper #page {
    margin: 140px 150px;
    flex-wrap: wrap; }
  body #wrapper #footer {
    margin: 100px 311px 0 107px; } }

@media screen and (max-width: 1462px) {
  body #wrapper #header {
    padding: 72px 150px 0; }
    body #wrapper #header #header__banner {
      padding: 130px 0 0 0; }
      body #wrapper #header #header__banner #header__banner_plant {
        width: 20%;
        margin: -265px 0 -4px 466px; }
  body #wrapper #content {
    height: 981px; }
    body #wrapper #content #content__container {
      padding: 100px 150px 0;
      height: 981px; }
      body #wrapper #content #content__container #content__media {
        bottom: -200px; }
      body #wrapper #content #content__container #content__page {
        display: block; }
        body #wrapper #content #content__container #content__page #page__picture {
          display: none; }
        body #wrapper #content #content__container #content__page #block {
          margin: 0 0 0 120px; }
          body #wrapper #content #content__container #content__page #block #page__carousel {
            margin: 0 auto; }
            body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--left {
              top: 42%; }
            body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--right {
              top: 42%; }
            body #wrapper #content #content__container #content__page #block #page__carousel #carousel__track-container #carousel__track .carousel__slide h1 {
              margin: 0 93px 31px 0; }
  body #wrapper #page div {
    padding: 0 0 100px 0; }
  body #wrapper #footer {
    display: block;
    margin: 0 100px 100px; }
    body #wrapper #footer .content__gallery {
      display: flex;
      justify-content: center; }
    body #wrapper #footer #plant {
      display: none; } }

@media screen and (max-width: 858px) {
  body #wrapper #header {
    padding: 72px 100px 0; }
    body #wrapper #header #header__banner {
      padding: 73px 0 0 0; }
  body #wrapper #content {
    height: 881px; }
    body #wrapper #content #content__container {
      padding: 100px 100px 0;
      height: 881px; }
      body #wrapper #content #content__container #content__media {
        display: none; }
      body #wrapper #content #content__container #content__page #block #page__carousel #carousel__track-container #carousel__track .carousel__slide h1 {
        margin: 0 93px 10px 0;
        font-size: 70px;
        line-height: 80px;
        letter-spacing: 14px; }
      body #wrapper #content #content__container #content__page #block #page__carousel #carousel__track-container #carousel__track .carousel__slide p {
        font-size: 20px; }
      body #wrapper #content #content__container #content__page #block .content__gallery {
        margin: 0 0 0 -120px; }
        body #wrapper #content #content__container #content__page #block .content__gallery .gallery {
          margin: 0; }
          body #wrapper #content #content__container #content__page #block .content__gallery .gallery p {
            font-size: 27px;
            line-height: 59px; }
        body #wrapper #content #content__container #content__page #block .content__gallery a {
          display: none; }
  body #wrapper #page {
    margin: 100px; }
    body #wrapper #page #title {
      word-wrap: normal;
      width: auto;
      margin: 48px 0;
      letter-spacing: 5px; }
    body #wrapper #page #tanalee img {
      margin: 0;
      width: 100%; }
    body #wrapper #page #claudia img {
      margin: 0; }
  body #wrapper #footer {
    margin: 0 100px 0; }
    body #wrapper #footer .content__gallery .gallery {
      margin: 0; }
      body #wrapper #footer .content__gallery .gallery p {
        font-size: 27px;
        line-height: 59px; }
    body #wrapper #footer .content__gallery a {
      display: none; }
    body #wrapper #footer #footer__media {
      margin: 100px auto;
      display: flex;
      justify-content: center; }
      body #wrapper #footer #footer__media a {
        margin: 0 50px; }
        body #wrapper #footer #footer__media a:hover {
          box-shadow: -0px -0px 20px 0px #4A4A4A;
          transition: all 500ms ease; } }

@media screen and (max-width: 695px) {
  body #wrapper #header {
    padding: 50px; }
    body #wrapper #header #header__menu #home {
      display: none; }
    body #wrapper #header #header__banner #header__banner_plant {
      display: none; }
  body #wrapper #content #content__container {
    padding: 50px 50px 0; }
    body #wrapper #content #content__container #content__page #block {
      margin: 0; }
      body #wrapper #content #content__container #content__page #block #page__carousel {
        right: 30px;
        height: 540px; }
        body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--left {
          display: none; }
        body #wrapper #content #content__container #content__page #block #page__carousel .carousel__button--right {
          display: none; }
        body #wrapper #content #content__container #content__page #block #page__carousel #carousel__track-container #carousel__track .carousel__slide h1 {
          margin: 0 0 10px 0; }
        body #wrapper #content #content__container #content__page #block #page__carousel #carousel__track-container #carousel__track .carousel__slide p {
          margin: 0; }
        body #wrapper #content #content__container #content__page #block #page__carousel #carousel__nav {
          padding: 0;
          left: 30px;
          position: relative; }
      body #wrapper #content #content__container #content__page #block .content__gallery {
        margin: 0; }
        body #wrapper #content #content__container #content__page #block .content__gallery .gallery {
          margin: 0; }
  body #wrapper #page {
    margin: 50px; }
    body #wrapper #page #title {
      margin: 20px 0 48px 0;
      font-size: 31px;
      letter-spacing: 3px; }
    body #wrapper #page #tanalee {
      display: contents; }
    body #wrapper #page #claudia {
      display: contents; }
      body #wrapper #page #claudia img {
        width: 100%; } }
