// import font
@import "../fonts/Akronim";

@import "rules";

body {
  #wrapper {
    #headerContainer {
      background: radial-gradient(100% 100% at 52.01% 53.93%, rgba(255, 255, 255, 9e-06) 0%, rgba(0, 0, 0, 0.045) 100%), #F4F4F4;
      border: 1px solid #979797;
      height: 1003px;

      #header {
        margin: 72px 290px 0;

        #menu {
          display: flex;
          justify-content: space-between;
        }

        #banner {
          display: block;
          padding-top: 305px;

          #logo {
            width: 100%;
          }

          #slogan {
            p {
              font-family: Akronim;
              font-size: 48px;
              color: $colorSlogan;
              margin: 16px 0;
            }
          }

          #plant {
            justify-self: end;
            bottom: -18%;
            right: 28%;
            position: absolute;
            width: 31%;
          }

        }
      }
    }
    #contentContainer {
      //background-color: $colorContentSection;
      //height: 700px;
      #content {
        background-color: $colorContentSection;
        height: 700px;
              /*
display: grid;
        align-items: center;
          margin: 141px 290px 0;
      */
        //#media {
        //  width: 0%;
        //  margin: 0 0 0 42px;
        //  img {
        //    margin: 19px 0 0 0;
        //    width: 16px;
        //    height: 16px;
        //  }
        //}
      }
    }
  }
}